.b{
    background-color: #1e202b;
    overflow-x: hidden;
}
.hbtn:hover{
background-color:blue;
}


.caption{
    top: 25%;
}
.second{
    top: 70%;
    left: 1%;
}
.c{
    background-color: rgba(0, 0, 0, 0.541);

}
.f{
    transform: translateY(400px);
    background-color:rgba(0, 0, 255, 0.13);
}
.ff{
    top:5px;
    bottom: 5px;
    right:5px;
}

@media screen and (max-width:769px) {
    .f{
        transform: translateY(1100px);
    }
}